.container{
    width: 28%;
    padding: center;
    margin: auto;
    float: none;
    border: 2px solid violet;
}
h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: blue;
}
body{
    color: rgb(125, 56, 114);
    background-image: url(https://okdiario.com/img/2021/07/02/el-significado-de-los-nombres-de-las-princesas-de-disney-655x368.jpg);
    background-position: top;
    background-repeat: no-repeat;
}
